.title {
	font-size: 25px;
	font-weight: normal;
	letter-spacing: -0.3px;
	color: #8EABFF;
	margin: 5px 5px 10px 5px;
	padding: 0;
	vertical-align: middle;
}

.contact {
	.contactTitle {
		font-size: 12px;
		font-weight: bold;
		letter-spacing: -0.3px;
		padding: 15px 3px 3px 20px;
		margin: 0;
		display: flex;
		
		.contactIcon {
			width: 12px;
			height: 12px;
			margin: auto 5px auto 0;
		}
	}

	.contactContent {
		font-size: 12px;
		letter-spacing: -0.2px;
		padding: 0 3px 0 30px;
		margin: 0;
	}
}
