.title {
	font-size: 25px;
	font-weight: normal;
	letter-spacing: -0.3px;
	color: #8EABFF;
	margin: 5px 5px 10px 5px;
	padding: 0;
	vertical-align: middle;
}

.contents {
	
	display: flex;
	
	.content {
		padding-left: 20px;
		margin-bottom: 20px;
		
		flex: 1;

		.content_title {
			font-size: 14px;
			font-weight: bold;
			letter-spacing: -0.3px;
			margin: 5px 0 5px 0; 
		}

		.content_detail {
			font-size: 12px;
			letter-spacing: -0.2px;
			color: gray;
			margin-bottom: 3px;
		}

	}
}

